Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
.SublimeREPLHistory/
Preferences.sublime-settings.0.bak
Preferences.sublime-settings.1.bak
Preferences.sublime-settings.2.bak
Preferences.sublime-settings.3.bak
Preferences.sublime-settings.4.bak
Preferences.sublime-settings.5.bak
Preferences.sublime-settings.6.bak
